config SPI
    default y 

if SHIELD_NEWTON_LEFT
# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "Newton1"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_NEWTON_LEFT || SHIELD_NEWTON_RIGHT

config ZMK_SPLIT
    default y

endif

if ZMK_BACKLIGHT

config PWM
    default y

config LED_PWM
    default y

endif # ZMK_BACKLIGHT

